<?xml version="1.0" encoding="UTF-8"?>  
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"  
    id="ibp.plugin.timer"  
    version="0.0.2">  
    <name>Timer</name>  
    <description>Timer Example.</description>  
    <author>xifei</author>  
    <license>Apache 2.0 License</license>  
    <engines>  
        <engine name="cordova" version=">=3.0.0" />  
    </engines>  

    <js-module src="www/Timer.js" name="timer">
        <clobbers target="TimerNative" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="TimerPlugin">
                <param name="android-package" value="ibp.plugin.timer.TimerPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/TimerPlugin.java" target-dir="src/ibp/plugin/timer" />
    </platform>
  
</plugin>  
