<?xml version="1.0" encoding="UTF-8"?>  
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"  
    id="ibp.plugin.hellocallback"  
    version="0.0.1">  
    <name>HelloCallback</name>  
    <description>Hello, Callback.</description>  
    <author>xifei</author>  
    <license>Apache 2.0 License</license>  
    <engines>  
        <engine name="cordova" version=">=3.0.0" />  
    </engines>  

    <js-module src="www/HelloCallback.js" name="hellocallback">
        <clobbers target="HelloCallback" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="HelloCallback">
                <param name="android-package" value="ibp.plugin.hellocallback.HelloCallback"/>
            </feature>
        </config-file>
        <source-file src="src/android/HelloCallback.java" target-dir="src/ibp/plugin/hellocallback" />
    </platform>
  
</plugin>  
